blinker==1.7.0
cffi==1.16.0
click==8.1.7
cryptography==41.0.7
Flask==3.0.0
Flask-SQLAlchemy==3.1.1
greenlet==3.0.2
gunicorn==21.2.0
importlib-metadata==7.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mysql-connector==2.2.9
mysql-connector-python==8.2.0
mysql-connector-python-rf==2.2.2
packaging==23.2
protobuf==4.21.12
pycparser==2.21
PyMySQL==1.1.0
SQLAlchemy==2.0.23
typing_extensions==4.9.0
Werkzeug==3.0.1
zipp==3.17.0
attrs==23.2.0
blinker==1.7.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
clickclick==20.10.2
connexion==2.14.1
cryptography==41.0.7
Flask==2.3.3
Flask-SQLAlchemy==3.1.1
greenlet==3.0.2
gunicorn==21.2.0
idna==3.6
importlib-metadata==7.0.0
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
MarkupSafe==2.1.3
mysql-connector==2.2.9
mysql-connector-python==8.2.0
mysql-connector-python-rf==2.2.2
packaging==23.2
protobuf==4.21.12
pycparser==2.21
PyMySQL==1.1.0
PyYAML==6.0.1
referencing==0.32.1
requests==2.31.0
rpds-py==0.17.1
SQLAlchemy==2.0.23
swagger-ui-bundle==0.0.9
typing_extensions==4.9.0
urllib3==2.1.0
Werkzeug==2.3.8
zipp==3.17.0
aniso8601==9.0.1
attrs==23.2.0
blinker==1.7.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
clickclick==20.10.2
connexion==2.14.1
cryptography==41.0.7
Flask==2.3.3
flask-restx==1.3.0
Flask-SQLAlchemy==3.1.1
greenlet==3.0.2
gunicorn==21.2.0
idna==3.6
importlib-metadata==7.0.0
importlib-resources==6.1.1
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
MarkupSafe==2.1.3
mysql-connector==2.2.9
mysql-connector-python==8.2.0
mysql-connector-python-rf==2.2.2
packaging==23.2
protobuf==4.21.12
pycparser==2.21
PyMySQL==1.1.0
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.32.1
requests==2.31.0
rpds-py==0.17.1
SQLAlchemy==2.0.23
swagger-ui-bundle==0.0.9
typing_extensions==4.9.0
urllib3==2.1.0
Werkzeug==2.3.8
zipp==3.17.0
